h1{
    color: blue;
}

form
{
    background-color: blueviolet;
    color: white;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
}

td{
    padding: 10px;
}

